.contact-section {
	background-color: rgb(12, 3, 77);
	width: 100%;
	height: 100vh;
	padding: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-form {
	display: grid;
}
@media (min-width: 960px) {
	.contact-form {
		grid-template-columns: 1fr 1fr;
		gap: 70px;
	}
}
.contact-form__content {
	display: grid;
	gap: 25px;
	margin-top: 27px;
}
@media (min-width: 960px) {
	.contact-form__content {
		margin-top: 0;
	}
}

.contact-form__item {
	display: grid;
	gap: 4px;
}
.contact-form__label {
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 13px;
}
.contact-form__input {
	font-family: "Poppins", sans-serif;
	max-width: 356px;
	min-width: 310px;
	height: 45px;
	border: solid 3px;
	border-radius: 4px;
}

.contact-form__text {
	font-family: "Poppins", sans-serif;
	max-width: 356px;
	min-width: 310px;
	height: 45px;
	border: solid 3px;
	border-radius: 4px;
	height: 113px;
}
.contact-form__button-box {
	max-width: 356px;
	min-width: 310px;
}
.contact-form__button {
	font-family: "Poppins", sans-serif;
	margin-top: 35px;
	font-size: 16px;
	font-weight: 700;
	color: white;
	background-color: black;
	border: none;
	border-radius: 4px;
	width: 100%;
	height: 45px;
	padding: 10px 28px;
}
